.black-sheet {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #666a;
  z-index: 999;

  .window {
    position: relative;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    text-align: center;
    background-color: #f5cca8cc;
    border-radius: 5%;

    p {
      position: relative;
      top: 30%;
      font-size: 24px;
    }

    .wrapper-button {
      position: relative;
      display: flex;
      top: 40%;
      justify-content: center;

      button {
        width: 15%;
        height: 60px;
        font-size: 24px;
        border-radius: 10px;
        cursor: pointer;

        &:nth-child(2) {
          margin-left: 50px;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.status-text {
  font-size: 22px;
}

.progress-bar {
  width: 280px;
  height: 22px;
}

.wrapper-status-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  background-color: #f5d4d4;

  .status-bar {
    position: relative;
    width: 50%;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cce8cc;
    text-align: center;

    label {
      position: relative;
      top: 20%;
    }

    progress {
      position: relative;
      top: 20%;
    }
  }
}

.wrapper-input {
  display: flex;
  width: 100%;
  margin-top: 24px;
  justify-content: center;

  .time {
    width: 20%;
    font-size: 26px;
    margin-top: 10px;
    transform: translateX(18%);
  }

  .sub-wrapper-input {
    width: 30%;
    text-align: center;

    input {
      width: 60%;
      height: 30px;
      outline: none;
      font-size: 20px;
    }

    .username-text {
      font-size: 20px;
    }

    .input-enemy {
      border: #777 1px solid;
      background-color: #fff;
    }
  }
}

.wrapper-message {
  width: 100%;
  display: flex;
  margin-top: 20px;

  .sub-wrapper-message {
    display: flex;
    justify-content: center;
    width: 44%;
    text-align: center;

    label {
      margin-right: 10px;
    }

    .message-text {
      width: 35%;
      height: 27px;
      font-size: 18px;
      border: #777 1px solid;
      background-color: #fafafa;
      text-align: left;
    }
  }

  .margin {
    width: 6%;
  }
}

.wrapper-cool-time {
  width: 100%;
  display: flex;
  margin-top: 10px;

  .sub-wrapper-cool-time {
    width: 50%;
    text-align: center;

    .cool-time {
      width: 100%;
      font-size: 18px;
    }
  }
}

.wrapper-status {
  width: 100%;
  display: flex;
  margin-top: 10px;

  .sub-wrapper-status {
    width: 60%;
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #eee;
    border: 5px solid #444;
    border-radius: 10%;
  }
}
