* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

html {
  width: 100%;
  min-height: 400px;
  background-color: #f5efc0;
}

body {
  width: 100%;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: #5a8a6a;
  text-shadow: 2px 2px #eee;
}
