.black-sheet {
  position: absolute;
  width: 100%;
  height: 103.5%;
  background-color: #5555;
  transform: translateY(-5%);
}

.form {
  width: 100%;
  text-align: center;
  margin-top: 7%;
}

.button-big {
  max-width: 240px;
  min-width: 180px;
  min-height: 80px;
  width: 16%;
  height: 20vh;
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #444;
  border-radius: 50%;
  background-color: #eee;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px 6px white;
  }

  &:nth-child(2) {
    margin-left: 10%;
  }
}

.button-rooms {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 80vh;
  border-radius: 7%;
  background-color: #a0cc9a;

  .wrapper-button-room {
    margin-top: 8vh;

    .button-room {
      display: block;
      width: 60%;
      min-width: 330px;
      height: 40px;
      margin: 30px auto;
      font-size: 18px;
      border: 2px solid #444;
      border-radius: 10px;
      background-color: #eee;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 10px 4px white;
      }
    }
  }
}
