h2 {
  margin-top: 100px;
  text-align: center;
}

.wrapper-loader {
  width: 87px;
  height: 87px;
  margin: 0 auto;
  margin-top: 30vh;
  margin-bottom: 10vh;
}

.ball-grid-pulse {
  width: 87px;
}

.ball-grid-pulse > div:nth-child(1) {
  animation-delay: 0.22s;
  animation-duration: 0.9s;
}
.ball-grid-pulse > div:nth-child(2) {
  animation-delay: 0.64s;
  animation-duration: 1s;
}
.ball-grid-pulse > div:nth-child(3) {
  animation-delay: -0.15s;
  animation-duration: 0.63s;
}
.ball-grid-pulse > div:nth-child(4) {
  animation-delay: -0.03s;
  animation-duration: 1.24s;
}
.ball-grid-pulse > div:nth-child(5) {
  animation-delay: 0.08s;
  animation-duration: 1.37s;
}
.ball-grid-pulse > div:nth-child(6) {
  animation-delay: 0.43s;
  animation-duration: 1.55s;
}
.ball-grid-pulse > div:nth-child(7) {
  animation-delay: 0.05s;
  animation-duration: 0.7s;
}
.ball-grid-pulse > div:nth-child(8) {
  animation-delay: 0.05s;
  animation-duration: 0.97s;
}
.ball-grid-pulse > div:nth-child(9) {
  animation-delay: 0.3s;
  animation-duration: 0.63s;
}

.ball-grid-pulse > div {
  background-color: #a8d898;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 2px;
  animation-fill-mode: both;
  display: block;
  float: left;
  animation-name: ball-grid-pulse;
  animation-iteration-count: infinite;
  animation-delay: 0;
}

@keyframes ball-grid-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
