.signup-text,
.login-text {
  margin-bottom: 20px;
}

.error-text {
  font-size: 18px;
  color: #d96060;
}

section {
  width: 100%;
  background-color: #c4e8c4;
  text-align: center;
  margin-top: 10vh;
  padding: 15px 0;

  .text-field {
    max-width: 300px;
    min-width: 200px;
    width: 30%;
    height: 30px;
    font-size: 18px;
  }

  .submit-button,
  .back-button {
    max-width: 120px;
    width: 16%;
    height: 30px;
  }

  .back-button {
    margin-left: 25px;
  }
}

.signup-login {
  button {
    max-width: 220px;
    min-width: 180px;
    width: 18%;
    min-height: 80px;
    height: 20vh;
    font-size: 18px;
    font-weight: bold;
    background-color: #eee;
    border: 2px solid #444;
    border-radius: 50%;
    margin: 20px 0;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 10px 6px white;
    }
  }

  button:last-child {
    margin-left: 10%;
  }
}
